.wpbooklist-customautofill-button{
    background-color: #78aa3a;
    border-color: #78aa3a;
    color: #fff !important;
    display: inline-block !important;
    margin-top: 2px;
    margin-bottom: 2px;
    opacity: 0.3;
    pointer-events: none;
    vertical-align: top;
}

.wpbooklist-customautofill-button:hover{
    background-color: #12191b;
    border-color: #12191b;
    color: #fff;
}

.wpbooklist-customautofill-response{
    display: inline-block;
    line-height: 1.3;
    font-size: 0.875em !important;
    margin-bottom: 0px!important;
    margin-left: 5px;
}

#wpbooklist-customautofill-html-insertion-wrapper{
    margin-top:5px;
    margin-bottom:25px;
}

#wpbooklist-customautofill-response-fail, #wpbooklist-customautofill-suggested-price-response{
    color: rgba(150,8,12,.55);
}

#wpbooklist-customautofill-response-success{
    color: #78aa3a;
}

/* BEGIN ADD SIMPLE PRODUCT PAGE CSS */
.jre-custom-tooltip-wrapper img{
    width: 12px;
    cursor:pointer;
}

.jre-custom-tooltip-wrapper{
    float: left;
    margin-right: 4px;
    position: relative;
    top: 1px;
    z-index:9;
}

.jre-custom-tooltip-wrapper-special, .jre-custom-tooltip-wrapper-regprice{
    top: -1px;
}

.jre-custom-tooltip-wrapper-media{
    top: -3px;
}


/* END ADD SIMPLE PRODUCT PAGE CSS */

.jre-custom-tooltip-modal {
    z-index:9;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.jre-custom-tooltip-modal h4{
    text-decoration:underline;
    display: inline-block;
}

.jre-custom-tooltip-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 1rem 1.5rem;
    width: 24rem;
    border-radius: 0.5rem;
}

#jre-custom-tooltip-modal-close-button {
    float: right;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    cursor: pointer;
    border-radius: 0.25rem;
    background-color: #78aa3a;
    color: white;
}

.close-button:hover {
    background-color: darkgray;
}

.jre-custom-tooltip-owl{
    width: 35px;
    display: inline-block;
    margin-right: 5px;
    position: relative;
    bottom: 5px;
}







/* BEGIN CUSTOM SEARCH PAGE CSS */
#jre-customsearch-browse-grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
    text-align:center;
}

.jre-customsearch-browse-grid-item {

}

#jre-customsearch-inner-wrapper{
    background-color: #fed966;
    padding:25px;
    text-align:center;
    box-shadow: 0px 6px 7px rgba(0,0,0,0.1);
}

#jre-customsearch-wrapper{
    width:100%;
}

.page-id-1184 .mgb30{
    padding: 0px;
    margin: 0;
    max-width: 100%;
}

#jre-customsearch-owl-wrapper{
    position: absolute;
    width: 120px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    top: 210px;
}

#jre-customsearch-input-wrapper{
    margin-bottom:30px;
}

#jre-customsearch-input-actual{
    width:50%;
}

#jre-customsearch-text-wrapper p{
    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
    font-size: 18px;
    font-weight: bold;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 18px;
}

#jre-customsearch-browse-grid-item-3{
    position: relative;
    bottom: 24px;
}

#jre-customsearch-text-wrapper h2{
    text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
}

#jre-customsearch-browse-wrapper{
    padding:25px;
    margin-top:80px;
}

.jre-customsearch-browse-grid-item-title{
    font-size:20px;
    font-weight:bold;
    max-width: 100px;
    margin-left: auto;
    margin-right: auto;
}

.jre-customsearch-browse-grid-item-title-line{
    width: 100px;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom:20px;
}

#jre-customsearch-browse-grid-item-title-line-1{
    background-color:#92BBE3;
}

#jre-customsearch-browse-grid-item-title-line-2{
    background-color:#BE4F12;
}

#jre-customsearch-browse-grid-item-title-line-3{
    background-color:#FFD35B;
}

.jre-customsearch-browse-grid-item-entry-indiv{
    margin-bottom:0px;
}

.jre-customsearch-browse-grid-item-entry-indiv:hover{
    color: #9dc3e7;
    cursor: pointer;
}

.jre-customsearch-go{
    cursor:pointer;
}
/* END CUSTOM SEARCH PAGE CSS */

/* BEGIN CUSTOM SEARCH SIDEBAR CSS */
#jre-customsearch-sidebar-wrapper{
    border: 1px solid #ebebeb;
    padding:20px;
    max-height: 600px;
    max-width: 270px;
    width: 270px;
}

#jre-customsearch-sidebar-submit-button{
    width:100%;
    margin-top:20px;
}

.jre-customsearch-sidebar-price-selections-row-checkbox{
    position: relative;
    right:16px;
}

.jre-customsearch-sidebar-price-selections-row input[type="checkbox"]{
    position: relative;
    left: 20px;
    opacity: 0;
    cursor: pointer;
}

.jre-customsearch-sidebar-price-selections-row-inner-wrapper input{
    width:112px;
}

.jre-customsearch-sidebar-price-selections-row-inner-wrapper label{
    display:block;
    margin-top:5px;
}

.jre-customsearch-sidebar-price-selections-row-inner-wrapper{
    display: inline-block;
}

#jre-customsearch-sidebar-wrapper h6{
    margin-top:20px;
}

.page-id-353 select{
    color:#C3C3C3;
}

.jre-customsearch-browse-grid-item-entry-wrapper{
    display: inline-block;
    margin-left: 8px;
    margin-right: 8px;
}
/* END CUSTOM SEARCH SIDEBAR CSS */

/* BEGIN SEARCH RESULTS PAGE CSS */
.page-id-331 .woocommerce-result-count{
    display:none;
}

.post-type-archive-product .woocommerce-result-count, .post-type-archive-product .woocommerce-pagination{
    opacity:0;
    pointer-events:none;
}
/* END SEARCH RESULTS PAGE CSS */